<div class="container text-center block">
  <h1 class="container text-center block">Olá {{title}}!</h1>
</div>

<div class="container text-center block">
  <button class="btn btn-info" (click)="mudarTexto()">Mudar Texto</button>
</div>

<div class="container text-center block">
<img [src]="imgUrl">
</div>

<div class="container text-center block">
  <button class="btn btn-danger" (click)="mensagem()">Clique Aqui!</button>
</div>

<div class="container text-center block">

  <label class="label" for="title">Altere o titulo da pagina</label>
<input class="input form-control" id="title" [(ngModel)]="title" />
</div>

<router-outlet></router-outlet>
